/listview/FlagData/bin
/listview/FlagData/obj
/listview/FlagFacts/bin
/listview/FlagFacts/obj
/listview/FlagFacts.Android/bin
/listview/FlagFacts.Android/obj
/listview/FlagFacts.iOS/bin
/listview/FlagFacts.iOS/obj
